.text-field {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-text-fill: linear-gradient(
    to right,
    #3d0000,
    #5a1212
  );
  -fx-prompt-text-fill: gray;
  -fx-font-size: 24px;
}

.text-field.results {
  -fx-background-color: transparent;
  -fx-background-insets: 0;
  -fx-background-radius: 0;
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-text-fill: linear-gradient(
    to right,
    #3d0000,
    #5a1212
  );
  -fx-prompt-text-fill: gray;
  -fx-font-size: 24px;
  -fx-alignment: CENTER-RIGHT;
}
